<%- include("partials/header"); -%>
<link rel="stylesheet" href="/css/publish.css">

<form action="/publish" method="post">
  <div class="publish-input">
    <h1>Publish a New Article to TreeDB</h1>
    <input class="form-control" type="text" name="newName" placeholder="Article Name">
    <input class="form-control" type="text" name="newAuthor" placeholder="Author(s)">
    <input id="date-input" class="form-control" type="text" name="newDate" placeholder="Date (mm/dd/yyyy)">
    <input class="form-control" type="text" name="newKeyWords" placeholder="Key Words (separated by commas)">
    <button class="btn" type="submit" name="button">Submit</button>
  </div>
</form>

<%- include("partials/footer"); -%>
