body {
  background-image: url("images/treeBackground1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: grey;
}

#search-input {
  position: absolute;
  width: 50%;
  margin: 0;
  margin-left: 25%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#search-input button {
  background-color: white;
}

#search-input button:hover {
  background-color: rgb(90, 98, 105);
}
